<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.Master.cs" Inherits="WebApplication1.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>

    <%-- ESTILOS SECUNDARIOS MAXI PROGRAMA--%>
    <link rel="stylesheet" href="estilos.css">

    <%--estilo de bootstrap--%>
    <%--recordar orden de cascadas, si encuentra algun conflicto de estilos/clase, se superpone el de bootstrap--%>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <%--  js bootstrap    --%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
</head>

<body>
    <form id="form1" runat="server">
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <%--<a class="navbar-brand" href="#">Navbar</a>--%>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <%--runat server junta la virguililla le dice a asp que lo traduzca a la raiz del proyecto. SI el .aspx no entiende que es una web ejecutable--%>
                                <a class="nav-link active" aria-current="page" runat="server" href="~/Default.aspx">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" runat="server" href="~/Helenna.aspx">Helenna</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" aria-disabled="true">En desarrollo...</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div>

                <%--todo el contenido de otras paginas aspx lo metemos dentro del container--%>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>

            <footer>
                <h2 class="text-center pt-4">Contactame</h2>

                <div class="contacto d-flex justify-content-center align-items-center gap-4 py-3">
                    <a href="https://www.linkedin.com/in/franco-dom%C3%ADnguez28/" target="_blank">
                        <img src="https://cdn.worldvectorlogo.com/logos/linkedin-icon-2.svg" class="red-social" alt="LinkedIn">
                    </a>

                    <a href="https://www.instagram.com/frandominguez28/?hl=es-la" target="_blank">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png" class="red-social" alt="Instagram">
                    </a>

                    <a href="https://github.com/DominguezFranco28" target="_blank">
                        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" class="red-social" alt="Github">
                    </a>
                </div>

                <p class="text-center pb-4">Hecho con ayuda de <a href="https://maxiprograma.com" target="_blank">Maxi Programa</a></p>
            </footer>
        </div>
    </form>
</body>
</html>
